<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="sanathdharmapriya19630402" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://lk.linkedin.com/in/sanathdharmapriya19630402?trk=profile-badge">Sanath Keerthisinghe</a></div>
              
